

{% extends "base.html" %}

{% block title %}New Blog{% endblock title%}

{% block content %}

<h2 style="color:rgba(61, 14, 105, 0.829); font-weight:bold; 
    font-family:cursive; font-size: 70px;">New Blog</h2><br>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class="btn btn-success ml-2" 
        style="background:#f1356d; color: white;" value="Save">
    <a class="btn btn-primary" href="{% url 'blog_list' %}" 
        role="button" style="background:#f1356d; color: white;">Cancel</a>
</form>

{% endblock content %}
